*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --first-color: #e86a0f;
  --second-color: #414141;
  --third-color: #facd00;
  --fourth-color: #e72418;
  --fifth-color: #1e1e1e;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  line-height: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--second-color);
  overflow-x: hidden;
}

/* before burger */

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 170px;
  background: var(--first-color);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 var(--first-color), 0 0 0 0 var(--first-color);
  cursor: pointer;
}

label .hamburger {
    position: absolute;
    top: 120px;
    left: 30px;
    width: 30px;
    height: 2px;
    background: var(--fifth-color);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--fifth-color);
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw var(--first-color), 0 0 0 100vh var(--first-color);
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  
}

label a {
  margin-bottom: 1em;
  display: block;
  color: var(--fifth-color);
  text-decoration: none;
}
  nav {
    padding: 0.5rem;
    background-color: var(--first-color);
    color: var(--second-color);
  } 
nav h1 {
  font-size: 2rem;
  font-weight: 500;
}

nav h1,
nav ul {
  margin: 0;
}